<body>
    <div class="logo container text-center" >
        <img src="../../../assets/images/PngItem_24215.png" alt="" class="mt-4" [@oppen]="state">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <img src="../../../assets/images/pokedex.png" alt="" class="pokedex" [@oppen]="state">
                </div>
            </div>
            <div class="col-8">
                <div class="container ">
                    <div class="d-flex justify-content-end " >
                        <img src="../../../assets/images/4.png" alt="" class="poke" [@oppen]="state">
                        <img src="../../../assets/images/2.png" alt="" class="poke" [@oppen]="state">
                        <img src="../../../assets/images/1.png" alt="" class="poke" [@oppen]="state">
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex justify-content-end">
                        <img src="../../../assets/images/5.png" alt="" class="poke" [@oppen]="state">
                        <img src="../../../assets/images/6.png" alt="" class="poke" [@oppen]="state">
                        <img src="../../../assets/images/3.png" alt="" class="poke" [@oppen]="state">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" d-flex justify-content-center">
            <button (click)="togleButton()"> aqui</button>
        </div>
    </div>
    
</body>
